@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* nav bar */


nav {
    width: 83%;
    margin: 0 auto;

}

.hamburger {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
}

.logo .fa-cart-plus {
    display: none;
}

.logo-title {
    font-weight: 700;
    font-size: 24px;
    color: #3A3A3A;
}

.nav-pages {
    display: flex;
    align-items: center;
}

.nav-pages a {
    text-decoration: none;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 16px;
    margin-left: 34px;
}

.nav-i {
    margin-left: 35px;
}

.nav-i i {
    margin-left: 25px;
    font-size: 24px;
}




/* top-banner */

.top-banner {
    margin-top: 100px;
    margin-left: 8%;

}

.influencer-journey {
    display: flex;
    align-items: center;
}

.half-journey {
    width: 50%;
}

.journey-image {
    background-image: url('images/Circle\ design.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.half-journey img {
    width: 70%;
    margin-left: 12%;
}

.journey-title {
    font-weight: 700;
    font-size: 52px;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.journey-info {
    font-weight: 600;
    font-size: 16px;
    color: #3A3A3A;
    margin-bottom: 25px;
}

.button {
    display: flex;
    background: #E02C6D;
    width: 200px;
    align-items: center;
    border-radius: 41px;
}

.button:hover {
    background-color: #e02c6ea3;
}

.prebook-btn {
    padding: 10px 24px;
    text-decoration: none;
    color: #FFFFFF;
}

.button .fa-arrow-right {
    font-size: 20px;
    margin-left: 8px;
    color: #FFFFFF;

}


/* customers css  */

.customers {
    width: 75%;
    margin: 10% auto;
    padding: 36px 60px;
    border: 1px solid;
    border: 0;
    border-top: 1px solid rgba(109, 108, 108, 0.221);
    border-bottom: 1px solid rgba(109, 108, 108, 0.221);
}

.customers-box {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    column-gap: 20px;

}



/* collections css */


.collection-container {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #3A3A3A;
    font-weight: 600;
    font-size: 28px;
}

.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 30px; */
    row-gap: 30px;
    justify-content: center;
}

.collection {
    width: 320px;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 17px 0px 16px 14px;
    margin-bottom: 50px;
}

.collection-thumb-nail img {
    width: 300px;
    height: 256px;
    border-radius: 5px;
}

.collection-title h3 {
    font-size: 28px;
    color: #18191F;
    font-weight: 500;
}

.collection-price h3 {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    font-size: 24px;
}

.ratings .fa-star,
.fa-star-half {
    color: #FB8200;
    font-size: 11px;
}


.ratings span {
    color: #5E6366;
    font-size: 14px;
}

.collection-info {
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}

.see-more {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;
    margin-bottom: 100px;
}

.see-title {
    text-align: right;
    color: rgba(224, 44, 109, 0.87);
    font-weight: 700;
    font-size: 16px;
    margin-right: 8px;
}

.see-icon .fa-arrow-right {
    color: rgba(224, 44, 109, 0.87);
    font-size: 16px;
}



/* feautured products` */


.featuered-products {
    width: 80%;
    margin: 0 auto 100px;
    justify-content: center;
    display: flex;
    align-items: center;

}

/* .half-featured {
    width: 50%;
} */

.featured-title {
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
    margin-bottom: 16px;
}

.featured-info {
    margin-left: 9%;
}

.join-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    margin-top: 16px;
}

.join-button a {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    margin-left: 20px;
}

.join-button .fa-arrow-right {
    margin-left: 8px;
    color: #FFFFFF;
    font-size: 24px;
}


/* footer */


footer {
    background: #0A0826;
    color: white;
    width: 100%;
    margin: auto;
    padding: 5% 0%;
    padding-bottom: 3px;
}

.footer-info {
    text-align: center;
}

.footer-info h3 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
}

.foot-p-1,
.foot-p-2 {
    color: #D9DBE1;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 5px;
}

.social-links {
    text-align: center;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
}

.social-links i {
    font-size: 25px;
    margin-left: 10px;
    color: white;
}

/* responsive */

@media only screen and (max-width: 678px) {

    nav {
        width: 100%;
    }

    .top-banner {
        width: 90%;
        margin: 20px auto;
    }

    .journey-title {
        font-size: 30px;
    }

    .influencer-journey {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
        align-items: center;

    }

    .half-journey img {
        width: 100%;
        margin-left: 0;
    }

    .influencer-journey .half-journey {
        width: 100%;
    }

    .influencer-journey .button {
        margin: auto;
    }

    .customers-box {
        grid-template-columns: repeat(4, 1fr);

    }



    .customers {
        border: 0;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .customer-image img {
        width: 70%;
    }




    .collection-container {
        width: 100%;
    }

    .collections {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 0;
    }

    .collection {
        margin-bottom: 20px;
    }

    .see-more {
        justify-content: center;
    }

    .featuered-products {
        flex-direction: column-reverse;
        width: 90%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .half-featured {
        width: 100%;
    }

    .half-featured img {
        width: 100%;
    }

    .featured-info {
        margin-left: 0;
    }

    .join-button {

        width: 150px;
        margin: auto;
        height: 40px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    /* navigation bar */

    .logo-title {
        font-size: 18px;
    }

    .navbar {
        margin-top: 30px;
    }

    .logo {
        text-align: center;
    }

    .nav-pages {
        display: none;
    }


    .hamburger {
        display: block;
        font-size: 20px;
    }

    .fa-magnifying-glass {
        display: block;
    }

    .logo .fa-cart-plus {
        display: block;
        font-size: 20px;
    }

    .logo {
        width: 100%;
        /* padding: 40px; */
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    .footer-info {
        width: 100%;
    }

}